@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: auto;
}

.App-root {
  height: 100vh;
  margin: auto;
  max-width: 600px;
}

.Nav-root {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(17, 17, 17, 0.171);
}

.Nav-title {
  align-self: center;
  width: 70%;
}

.App-content {
  height: 93vh;
}

.CreateBlog-root {
  height: 93vh;
  text-align: center;
}

.Nav-links {
  align-self: center;
  display: flex;
  width: 30vw;
  justify-content: space-around;
  width: 30%;
}

.Home-root {
  height: 100%;
  text-align: center;
}

.Submit-post {
  text-align: center;
}

.CreatBlog-main-container {
  background-color: antiquewhite;
  margin: auto;
  width: 70%;
}

.BlogItem-root {
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 1s
}

.BlogItem-root:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}